body{
  font-family: Open Sans,Arial,sans-serif;
}
video{
  background-color: black;
  position: relative;
  top: 100px;
  right: 11%;
  opacity: 0.6;
  background-color: black;
}
.darklayout{
  position:absolute;
  width: 1500px;
  height: 700px;
  background-color: black;
  top: 100px;
}
.firstheading{
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  font-size: 60px;
}
.secondheading{
  position: absolute;
  top: 37%;
  left: 35%;
  color: white;
  font-size: 60px;
}
.firstparagraph{
  position: absolute;
  top: 48%;
  left: 36%;
  color: white;
  font-size: 18px;  
}
.secondbutton{
  position: relative;
  left: 42%;
  bottom: 220px;
  margin: 20px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  background-color: #0c71c3;
  border: none;
  font-size: 20px;
  color: white;
  transform: 0.2s;
}
.secondbutton:hover{
  color: #0c71c3;
  background-color: white;
  border: 1px solid #0c71c3;
  width: 140px;
  height: 40px;
  transition: 0.2s;
}
.firstimage{
  position: relative;
  bottom: 150px;
  left: -7%;
}
.thirdheading{
  color: #344d9c;
  position: relative;
  left: 20%;
  font-size: 45px;
}
.secondimage{
  position: relative;
  border-radius: 20px;
  border: 1px solid #0c71c3;
  border-top: 5px solid #0c71c3;
  margin: 40px;
  width: 400px;
  height: 250px;
  left: 10%;
}
.fourthheading{
  color: #344d9c;
  position: relative;
  left: 50%;
  bottom: 320px;
  font-size: 23px;
}
.fourthheading3{
  color: #344d9c;
  position: relative;
  left: 50%;
  bottom: 340px;
  font-size: 25px;
  font-weight: 0;
}
.secondparagraph{
  color: black;
  position: relative;
  left: 50%;
  bottom: 350px;
  width: 500px; 
  font-size: 18px;
  opacity: 0.7;
}
.fifthheading{
  color: #344d9c;
  position: relative;
  left: 30%;
  font-size: 45px;
  bottom: 250px;
}
.b1{
  background-color: #364a9b;
  position: relative;
  left: 42%;
  bottom: 220px;
  margin: 20px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  color: white;
  transform: 0.2s;
}
.b1:hover{
  color: white;
  background-color: #1e73be;
  width: 140px;
  height: 62px;
  transition: 0.2s
}
.sixthheading{
  color: #344d9c;
  position: relative;
  left: 35%;
  bottom: 170px;
  font-size: 45px;
}
.testimonialcomponent1{
  color: white;
  position: relative;
  left: 49%;
  width: 50px;
  text-align: center;
  font-size: 29px;
  border-radius: 30px;
  bottom: 170px;
  font-size: 45px;
  background-color: #344d9c;
}